#mykitty {
  width: 150px;
  max-width: 100%;
  margin: 1em
}

#mykitty #logo {
  background-image: url("../img/mykitty-small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 118px;
  margin: 0 auto;
}

#mykitty #somme {
  text-align: center;
  border: 3px solid #fe5858;
  padding: 10px 0;
  font-family: Arial;
  font-weight: bold;
  position: relative;
}
